<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<form action="/add_user" method="post">
	  <fieldset>
	    <legend>速度注册，咱们来决一死战吧！</legend>
	    <label for="register_account">账户:</label>
	    <input type="text" placeholder="账户" id="register_account" name="account">
	    <label for="register_password">密码:</label>
	    <input type="password" placeholder="密码" id="register_password" name="password">
	    <label for="register_repassword">重复密码:</label>
	    <input type="password" placeholder="密码" id="register_repassword" name="repassword">
	    <label for="register_name">昵称:</label>
	    <input type="text" placeholder="昵称" id="register_name" name="name">
	    <div>
	    	<button type="submit" class="btn">注册</button>
	    	<button type="reset" class="btn">重置</button>
	    	<a href="/">登录</a>
	    </div>
	  </fieldset>
	</form>
</body>
</html>